# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.pytest_cache/

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db
desktop.ini

# Prefect
.prefect/
prefect.db

# Pipeline output
output/

# Pipeline output
output/
